<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysTableMappingMapper">

	<!--表名   业务数据表映射N-->
	<sql id="tableName">
		tb_sys_table_mapping
	</sql>
	
	<!-- Name	Code	Comment	Default Value	Data Type	Length	Precision	Primary	Foreign Key	Mandatory
业务类型	TYPE_CODE	"业务类型 1工会经费、教育经费凭证 2党费凭证3社保互推凭证4公积金互推凭证5个缴凭证6应付劳务费凭证7企业年金提取凭证8补充医疗提取凭证9企业年金发放凭证10评估调整凭证"	' '	VARCHAR(20)	20		TRUE	FALSE	TRUE
业务期间	BUSI_DATE	业务期间	‘ ’	VARCHAR(8)	8		TRUE	FALSE	TRUE
业务表	TABLE_NAME	业务表	' '	VARCHAR(30)	30		TRUE	FALSE	TRUE
//业务表类型 TABLE_TYPE   ‘’ CHAR(1)	1		FALSE	FALSE	TRUE
映射业务表	TABLE_NAME_MAPPING	映射业务表	' '	VARCHAR(30)	30		FALSE	FALSE	TRUE
状态	STATE	"状态1封存,0解封"	' '	CHAR(1)	1		FALSE	FALSE	TRUE
账套	BILL_OFF		‘ ’	VARCHAR(6)	6		TRUE	FALSE	TRUE -->

	<!-- 字段 -->
	<sql id="Field">
		TYPE_CODE,
		BUSI_DATE,
		TABLE_NAME,
		<!-- TABLE_TYPE, -->
		TABLE_NAME_MAPPING,
		STATE,
		BILL_OFF
	</sql>
	<sql id="FieldSelectKey">
		,TYPE_CODE TYPE_CODE__,
		BUSI_DATE BUSI_DATE__,
		TABLE_NAME TABLE_NAME__,
		<!-- TABLE_TYPE TABLE_TYPE__, -->
		TABLE_NAME_MAPPING TABLE_NAME_MAPPING__,
		STATE STATE__,
		BILL_OFF BILL_OFF__
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TYPE_CODE},
		#{BUSI_DATE},
		#{TABLE_NAME},
		<!-- #{TABLE_TYPE}, -->
		#{TABLE_NAME_MAPPING},
		#{STATE},
		#{BILL_OFF}
	</sql>
	<sql id="FieldValueItem">
		#{item.TYPE_CODE},
		#{item.BUSI_DATE},
		#{item.TABLE_NAME},
		<!-- #{item.TABLE_TYPE}, -->
		#{item.TABLE_NAME_MAPPING},
		#{item.STATE},
		#{item.BILL_OFF}
	</sql>

	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    <include refid="Field"></include>
		    <include refid="FieldSelectKey"></include>
		from <include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*)
        from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
	</select>

	<!-- 列表 -->
	<select id="getRepeatList" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
        <where>
		<foreach item="item" index="index" collection="list" open=" " separator=" or " close=" ">
            ((TYPE_CODE = #{item.TYPE_CODE} and BUSI_DATE = #{item.BUSI_DATE} and BILL_OFF = #{item.BILL_OFF}
              <!-- and TABLE_NAME = #{item.TABLE_NAME} --> and TABLE_NAME_MAPPING = #{item.TABLE_NAME_MAPPING})
             and (TYPE_CODE != #{item.TYPE_CODE__} or BUSI_DATE != #{item.BUSI_DATE__} or BILL_OFF != #{item.BILL_OFF__}
                  <!-- or TABLE_NAME != #{item.TABLE_NAME__} --> or TABLE_NAME_MAPPING != #{item.TABLE_NAME_MAPPING__}))
		</foreach>
		</where>
	</select>
	
	<update id="batchDelAndIns" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    TYPE_CODE = #{item.TYPE_CODE__}
		    and BUSI_DATE = #{item.BUSI_DATE__}
		    <!-- and TABLE_NAME = #{item.TABLE_NAME__} -->
		    and TABLE_NAME_MAPPING = #{item.TABLE_NAME_MAPPING__}
		    and BILL_OFF = #{item.BILL_OFF__}
		</foreach>;
		
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    insert into <include refid="tableName"></include>
		    (<include refid="Field"></include>) values (<include refid="FieldValueItem"></include>);
		</foreach>
	</update>
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		KEY_CODE = #{id}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		TYPE_CODE = #{TYPE_CODE},
		BUSI_DATE = #{BUSI_DATE},
		TABLE_NAME = #{TABLE_NAME},
		<!-- TABLE_TYPE = #{TABLE_TYPE}, -->
		TABLE_NAME_MAPPING = #{TABLE_NAME_MAPPING},
		STATE = #{STATE},
		BILL_OFF = #{BILL_OFF}
		where
		KEY_CODE = #{KEY_CODE}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		KEY_CODE = #{KEY_CODE}
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		KEY_CODE in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 张晓柳 -->
	<select id="getUseTableMapping" parameterType="com.fh.entity.SysTableMapping" resultType="com.fh.entity.SysTableMapping">
		select 
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where TYPE_CODE = #{TYPE_CODE}
		and BILL_OFF = #{BILL_OFF}
		and BUSI_DATE = #{BUSI_DATE}
		and UPPER(TABLE_NAME_MAPPING) = UPPER(#{TABLE_NAME_MAPPING})
		and STATE = #{STATE}
	</select>
</mapper>