<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ERPUserListMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_di_erp_user_list
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		BUSI_DATE,	
		USER_NAME,	
		NAME,	
		USER_GROUP,	
		ACCOUNT_STATE,	
		START_DATE,	
		END_DATE,	
		DEPART,	
		JOB,	
		CHANGE_NO,	
		PHONE,	
		STATE,	
		BILL_USER,	
		USER_DEPART,	
		BILL_DATE	
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BUSI_DATE},	
		#{USER_NAME},	
		#{NAME},	
		#{USER_GROUP},	
		#{ACCOUNT_STATE},	
		#{START_DATE},	
		#{END_DATE},	
		#{DEPART},	
		#{JOB},	
		#{CHANGE_NO},	
		#{PHONE},	
		#{STATE},	
		#{BILL_USER},	
		#{USER_DEPART},	
		#{BILL_DATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USER_NAME = #{USER_NAME},
			NAME = #{NAME},
			USER_GROUP = #{USER_GROUP},
			ACCOUNT_STATE = #{ACCOUNT_STATE},
			START_DATE = #{START_DATE},
			END_DATE = #{END_DATE},
			DEPART = #{DEPART},
			JOB = #{JOB},
			CHANGE_NO = #{CHANGE_NO},
			USER_DEPART = #{USER_DEPART},
			PHONE = #{PHONE}
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			ID,
			USER_NAME,	
			NAME,	
			USER_GROUP,	
			ACCOUNT_STATE,	
			START_DATE,	
			END_DATE,	
			DEPART,	
			JOB,	
			CHANGE_NO,	
			PHONE,	
			STATE,	
			BILL_USER,	
			USER_DEPART	
		from 
		<include refid="tableName"></include>
		where STATE=1
		<if test="pd.busiDate != null and pd.busiDate != ''">
		and 
			BUSI_DATE = #{pd.busiDate}
		</if>
		<if test="pd.USER_DEPART != null and pd.USER_DEPART != ''">
		and 
			USER_DEPART = #{pd.USER_DEPART}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<update id="deleteAll" parameterType="String">
		update
		<include refid="tableName"></include>
		set
			STATE = 0
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
		<!-- *********************导入导出********************************* -->
	<!-- 导出列表 -->
	<select id="exportList" parameterType="Page" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			STATE = 1
			<if test="pd.BUSI_DATE!= null and pd.BUSI_DATE!= ''">
			and BUSI_DATE = #{pd.BUSI_DATE}
			</if>
			<if test="pd.USER_DEPART!= null and pd.USER_DEPART!= ''">
			and USER_DEPART = #{pd.USER_DEPART}
		</if>
		order by 
			ID,BUSI_DATE
	</select>
	
	<!-- 更新数据 -->
	<update id="delAndIns" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    delete from <include refid="tableName"></include>
		    where ID = #{item.ID};
	        insert into 
	        <include refid="tableName"></include>
		       (
					<include refid="Field"></include>
				) value (
					#{item.BUSI_DATE},	
					#{item.USER_NAME},	
					#{item.NAME},	
					#{item.USER_GROUP},	
					#{item.ACCOUNT_STATE},	
					#{item.START_DATE},	
					#{item.END_DATE},	
					#{item.DEPART},	
					#{item.JOB},	
					#{item.CHANGE_NO},	
					#{item.PHONE},	
					#{item.STATE},	
					#{item.BILL_USER},	
					#{item.USER_DEPART},	
					#{item.BILL_DATE}
				);
		</foreach>
	</update>
	
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include> 
		from 
			<include refid="tableName"></include>
		where 
			STATE = 1 
		limit 1
	</select>
</mapper>