<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartmentMapper">
	
	<resultMap type="Department" id="departmentResultMap">
		<id column="DEPARTMENT_ID" property="DEPARTMENT_ID"/>
		<result column="DEPARTMENT_CODE" property="DEPARTMENT_CODE"/>
		<result column="NAME" property="NAME"/>
		<result column="PARENT_CODE" property="PARENT_CODE"/>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		OA_DEPARTMENT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,	
		NAME_EN,	
		DEPARTMENT_CODE,	
		PARENT_CODE,
		HEADMAN,
		TEL,
		FUNCTIONS,
		ADDRESS,
		BZ,	
		DEPARTMENT_ID
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldInsert">
		NAME,	
		NAME_EN,	
		DEPARTMENT_CODE,	
		PARENT_CODE,
		HEADMAN,
		TEL,
		FUNCTIONS,
		ADDRESS,
		BZ
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{NAME_EN},	
		#{DEPARTMENT_CODE},	
		#{PARENT_CODE},
		#{HEADMAN},
		#{TEL},
		#{FUNCTIONS},
		#{ADDRESS},
		#{BZ},	
		#{DEPARTMENT_ID}
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValueInsert">
		#{NAME},	
		#{NAME_EN},	
		#{DEPARTMENT_CODE},	
		#{PARENT_CODE},
		#{HEADMAN},
		#{TEL},
		#{FUNCTIONS},
		#{ADDRESS},
		#{BZ}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="FieldInsert"></include>
		) values (
	<include refid="FieldValueInsert"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			DEPARTMENT_ID = #{DEPARTMENT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			NAME_EN = #{NAME_EN},
			HEADMAN = #{HEADMAN},
			BZ = #{BZ},
			TEL = #{TEL},
			FUNCTIONS = #{FUNCTIONS},
			ADDRESS = #{ADDRESS},
			DEPARTMENT_CODE = DEPARTMENT_CODE
		where 
		DEPARTMENT_ID = #{DEPARTMENT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			DEPARTMENT_ID = #{DEPARTMENT_ID}
	</select>
	
	<!-- 通过编码获取数据 -->
	<select id="findByBianma" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			DEPARTMENT_CODE = #{DEPARTMENT_CODE}
	</select>

	<!-- 通过条件获取数据 -->
	<select id="findByCondition" parameterType="String" resultType="com.fh.entity.system.Department">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		<where>
		    ${value}
		</where>
		order by DEPARTMENT_CODE
	</select>
	
	<!-- 是否有相同编码 -->
	<select id="hasSameDepartmentCode" parameterType="pd" resultType="pd">
		select 
		1
		from 
		<include refid="tableName"></include>
		where 
			DEPARTMENT_CODE = #{DEPARTMENT_CODE}
		<if test="DEPARTMENT_ID != null and DEPARTMENT_ID != ''">
			and DEPARTMENT_ID != #{DEPARTMENT_ID} 
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<!-- <include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1 -->
		A.*,B.NAME PARENT_NAME from oa_department A
		left join oa_department B
		on A.PARENT_CODE=B.DEPARTMENT_CODE
		<where>
			<if test="pd.DEPARTMENT_CODE!= null and pd.DEPARTMENT_CODE != ''"><!-- 检索 -->
			and A.PARENT_CODE = #{pd.DEPARTMENT_CODE}
			</if>
			<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
				and
					(
					 A.NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					 A.NAME_EN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or
					 A.DEPARTMENT_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					)
			</if>
		</where>
		order by A.DEPARTMENT_CODE
	</select>
	
	<!-- 通过ID获取其子级列表 -->
	<select id="listSubDepartmentByParentId" parameterType="String" resultMap="departmentResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PARENT_CODE = #{parentId} order by DEPARTMENT_CODE 
	</select>
	
	<!-- 通过ID获取其子级列表及其自身节点 -->
	<select id="listSubDepartmentAndSelfByParentId" parameterType="String" resultMap="departmentResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			DEPARTMENT_CODE=#{parentId} or
			PARENT_CODE = #{parentId}
	     order by DEPARTMENT_CODE 
	</select>
	
	<!-- 获取表字典-->
	<!-- 张晓柳 -->
	<select id="getDepartDic" parameterType="pd" resultType="com.fh.entity.system.Department">
	    SELECT * 
	    FROM 
        <include refid="tableName"></include>
	</select>
	<!-- 获得全部 名称和id对应关系 -->
	<select id="getAllNameAndId" parameterType="pd" resultType="pd">
	    SELECT NAME,DEPARTMENT_CODE
	    FROM 
        <include refid="tableName"></include>
	</select>
</mapper>