<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseUseMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_course_use
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		COURSE_ID,	
		CHAPTER_ID,	
		VIEW_USER,	
		RPT_TIME,	
		COURSE_NAME,	
		COURSE_TYPE,	
		CHAPTER_NAME,	
		PLAY_TIME	
	<!--VIDEO_DURATION,	
		TIME_RATING	 -->
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{COURSE_ID},	
		#{CHAPTER_ID},	
		#{VIEW_USER},	
		#{RPT_TIME},	
		#{COURSE_NAME},	
		#{COURSE_TYPE},	
		#{CHAPTER_NAME},	
		#{PLAY_TIME}
	<!--#{VIDEO_DURATION},	
		#{TIME_RATING} -->
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			COURSEUSE_ID = #{COURSEUSE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			COURSE_ID = #{COURSE_ID},
			CHAPTER_ID = #{CHAPTER_ID},
			VIEW_USER = #{VIEW_USER},
			RPT_TIME = #{RPT_TIME},
			COURSE_NAME = #{COURSE_NAME},
			COURSE_TYPE = #{COURSE_TYPE},
			CHAPTER_NAME = #{CHAPTER_NAME},
			VIDEO_DURATION = #{VIDEO_DURATION},
			PLAY_TIME = #{PLAY_TIME},
			TIME_RATING = #{TIME_RATING}
		where 
			COURSE_ID = #{COURSE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			COURSEUSE_ID = #{COURSEUSE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT 
			a.COURSE_ID,	
			a.CHAPTER_ID,	
			a.VIEW_USER,	
			a.RPT_TIME,	
			a.COURSE_NAME,	
			a.COURSE_TYPE,	
			a.CHAPTER_NAME,	
			LEFT(SEC_TO_TIME(a.PLAY_TIME),LENGTH(SEC_TO_TIME(a.PLAY_TIME))-3) AS PLAY_TIME,
			b.COURSE_TYPE_NAME,
			c.STUDENT_NAME	
		FROM 
			tb_course_use AS a
		LEFT JOIN tb_course_type AS b ON a.COURSE_TYPE = b.COURSE_TYPE_ID
		LEFT JOIN tb_train_student AS c ON a.VIEW_USER = c.STUDENT_ID
		where 1=1
			<if test="pd.COURSE_TYPE != null and pd.COURSE_TYPE != ''">
			and
				a.COURSE_TYPE = #{pd.COURSE_TYPE}
			</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(
			c.STUDENT_NAME CONCAT(CONCAT('%', #{pd.keywords}),'%')
			<!--	根据需求自己加检索条件
				字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				 or 
				字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
			-->
			)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			COURSEUSE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>