<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BillNumMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_bill_num
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		BILL_CODE,	
		BILL_NAME,	
		BILL_DATE,	
		BILL_NUM
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BILL_CODE},	
		#{BILL_NAME},	
		#{BILL_DATE},	
		#{BILL_NUM}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			BILL_CODE = #{BILL_CODE}
			AND BILL_DATE = #{BILL_DATE}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_NUM = #{BILL_NUM}
		where 
			BILL_CODE = #{BILL_CODE}
			AND BILL_DATE = #{BILL_DATE}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BILL_CODE = #{BILL_CODE}
			AND BILL_DATE = #{BILL_DATE}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
</mapper>