<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KhTotalMapper">
	
<!-- 
/** 
 * 说明：考核指标总项
 * 创建人：jiachao
 * 创建时间：2020-03-15
 */
 -->
	<!--表名 -->
	<sql id="tableName">
		tb_kh_total
	</sql>

	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		<!-- 导入功能，可以查询全部 -->
		<if test="pd.funcType=='import'">
			select 
		    * 
		    <if test="pd.FieldSelectKey!= null and pd.FieldSelectKey != ''">
		        ${pd.FieldSelectKey}
		    </if>
			from 
			<include refid="tableName"></include>
			<where>
			    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
				    ${pd.filterWhereResult}
			    </if>
			    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
			        ${pd.QueryFeild}
			    </if>
			    <if test="pd.KPI_CODE!= null and pd.KPI_CODE != ''">
			        and KPI_CODE=#{pd.KPI_CODE}
			    </if>
			</where>
			<if test="sidx != null and sidx.trim() != ''" >
				order by ${sidx} ${sord} 
	    	</if>
	    	<if test="currentResult != null and rowNum != null" >           
	              limit #{currentResult}, #{rowNum} 
	        </if>
		</if>
		<!-- 查询功能，只能查询各单位数据 -->
		<if test="pd.funcType=='query'">
			SELECT A.* FROM tb_kh_total A
			JOIN tb_assess_depart B
			ON A.COMPANY_CODE=B.DEPART_CODE
			<where>
			    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
				    ${pd.filterWhereResult}
			    </if>
			    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
			        ${pd.QueryFeild}
			    </if>
			    <if test="pd.KPI_CODE!= null and pd.KPI_CODE != ''">
			        and KPI_CODE=#{pd.KPI_CODE}
			    </if>
			    <if test="pd.DEPART_CODE!= null and pd.DEPART_CODE != ''">
			        and LOCAL_DEPART_CODE=#{pd.DEPART_CODE}
			    </if>
			</where>
			<if test="sidx != null and sidx.trim() != ''" >
				order by ${sidx} ${sord} 
	    	</if>
	    	<if test="currentResult != null and rowNum != null" >           
	              limit #{currentResult}, #{rowNum} 
	        </if>
		</if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		<!-- 导入功能，可以查询全部 -->
		<if test="pd.funcType=='import'">
			select count(*) from <include refid="tableName"></include> 
			<where>
			    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
				    ${pd.filterWhereResult}
			    </if>
			    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
			        ${pd.QueryFeild}
			    </if>
			    <if test="pd.KPI_CODE!= null and pd.KPI_CODE != ''">
			        and KPI_CODE=#{pd.KPI_CODE}
			    </if>
			</where>
		</if>
		
		<!-- 查询功能，只能查询各单位数据 -->
		<if test="pd.funcType=='query'">
			SELECT COUNT(*) FROM tb_kh_total A
			JOIN tb_assess_depart B
			ON A.COMPANY_CODE=B.DEPART_CODE
			<where>
			    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
				    ${pd.filterWhereResult}
			    </if>
			    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
			        ${pd.QueryFeild}
			    </if>
			    <if test="pd.KPI_CODE!= null and pd.KPI_CODE != ''">
			        and KPI_CODE=#{pd.KPI_CODE}
			    </if>
			    <if test="pd.DEPART_CODE!= null and pd.DEPART_CODE != ''">
			        and LOCAL_DEPART_CODE=#{pd.DEPART_CODE}
			    </if>
			</where>
		</if>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from <include refid="tableName"></include> 
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
	
	<!-- 列表 -->
	<select id="datalistJqPageRank" parameterType="jqPage" resultType="pd">
		select * from tb_kh_rank
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
    	<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	
	<select id="countJqGridExtendRank" parameterType="jqPage" resultType="int">
		select count(*) from tb_kh_rank
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		</where>
	</select>
	
	<!-- 用于当前月份是否已经导入过数据 -->
	<select id="checkRepeat" parameterType="pd" resultType="pd">
		select 1
		from 
		<include refid="tableName"></include>
		where 
			BUSI_DATE = #{BUSI_DATE} 
		limit 1	
	</select>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select * 
		from <include refid="tableName"></include>
		<where>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="pd" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		<where>
		    <if test="QueryFeild!= null and QueryFeild != ''">
		        ${QueryFeild}
		    </if>
		</where>
		limit 1
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    BUSI_DATE = #{item.BUSI_DATE__} 
		    and KPI_CODE = #{item.KPI_CODE__} 
		    and COMPANY_CODE = #{item.COMPANY_CODE__} 
		</foreach>
	</delete>
	
	<update id="batchDelAndIns" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    delete from
		    <include refid="tableName"></include>
		    where BUSI_DATE = #{item.BUSI_DATE__} 
		    and KPI_CODE = #{item.KPI_CODE__}
		    and COMPANY_CODE = #{item.COMPANY_CODE__};
	        
		    insert into
		    <include refid="tableName"></include>
		    (${item.InsertField}) values (${item.InsertVale});
		</foreach>
	</update>
	
	<update id="batchDelAndInsRank" parameterType="pd">
		delete from tb_kh_rank 
		where BUSI_DATE = #{item.BUSI_DATE};
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    insert into tb_kh_rank
		    (COMPANY_CODE,COMPANY_NAME,FINAL_SCORE,Z1FI1_DEDUCK_SCORE,Z1FI1_TOTAL_NUM,Z1FI1_SCORE,Z3FI2_DEDUCK_SCORE,Z3FI2_TOTAL_NUM,Z3FI2_SCORE) 
		    values (#{COMPANY_CODE},#{COMPANY_NAME},#{FINAL_SCORE},#{Z1FI1_DEDUCK_SCORE},#{Z1FI1_TOTAL_NUM},#{Z1FI1_SCORE},#{Z3FI2_DEDUCK_SCORE},#{Z3FI2_TOTAL_NUM},#{Z3FI2_SCORE});
		</foreach>
	</update>
	
	<update id="batchCoverAdd" parameterType="pd">
		delete from 
		<include refid="tableName"></include>
		where BUSI_DATE = #{item.BUSI_DATE__} 
		and KPI_CODE = #{item.KPI_CODE__};
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    insert into
		    <include refid="tableName"></include>
		    (${item.InsertField}) values (${item.InsertVale});
		</foreach>
	</update>
	
	<!-- 列表 -->
	<select id="getCountOfVoucherNum" parameterType="pd" resultType="pd">
		SELECT 'Z1FI1' KPI_CODE,COMPANY_CODE,COUNT(*) AS DEDUCK_SCORE FROM tb_kh_fmis_cfttdit 
		where BUSI_DATE=#{BUSI_DATE} 
		GROUP BY COMPANY_CODE
		
		UNION ALL

		SELECT 'Z3FI2' KPI_CODE,COMPANY_CODE,COUNT(*) AS DEDUCK_SCORE FROM tb_kh_integrate_voucher_cx 
		WHERE BUSI_DATE=#{BUSI_DATE} 
		GROUP BY COMPANY_CODE
	</select>
	
	<!-- 根据业务日期、KPI_CODE获取考核项总数 -->
	<select id="getKhTotal" parameterType="pd" resultType="pd">
		SELECT * FROM tb_kh_total 
		<where>
		    <!-- <if test="KPI_CODE!= null and KPI_CODE!= != ''">
			    and KPI_CODE=#{KPI_CODE}
		    </if> -->
		    <if test="BUSI_DATE!= null and BUSI_DATE!= ''">
		        and BUSI_DATE=#{BUSI_DATE}
		    </if>
		</where>
	</select>
	
	<!-- 根据业务日期、获取KPI配置的总分和权重 -->
	<select id="listKpi" parameterType="pd" resultType="pd">
		SELECT KPI_CODE,TOTAL_SCORE,PROPORTION FROM tb_kh_total 
		WHERE BUSI_DATE=#{BUSI_DATE} 
		GROUP BY KPI_CODE,TOTAL_SCORE,PROPORTION
	</select>
	
</mapper>