<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewAssetsBpdMapper">
	
<!-- 
/** 
 * 说明：月度工资及个税导入
 * 创建人：jiachao
 * 创建时间：2019-08-07
 */
 -->
	<!--表名 -->
	<sql id="tableName">
		tb_kh_new_assets_bpd
	</sql>

	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    * 
		    <if test="pd.FieldSelectKey!= null and pd.FieldSelectKey != ''">
		        ${pd.FieldSelectKey}
		    </if>
		from 
		<include refid="tableName"></include>
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
    	<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) from <include refid="tableName"></include> 
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from <include refid="tableName"></include> 
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
	
    <!-- 用于判断数据是否重复 -->
	<select id="getRepeat" parameterType="pd" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		<where>
		    <foreach item="item" index="index" collection="list" open=" " separator=" or " close=" ">
                (BUSI_DATE = #{item.BUSI_DATE} and COMPANY_CODE = #{item.COMPANY_CODE} and COMPANY_CODE != #{item.COMPANY_CODE__})
		    </foreach>
		</where> 
	</select>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select * 
		from <include refid="tableName"></include>
		<where>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="pd" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		<where>
		    <if test="QueryFeild!= null and QueryFeild != ''">
		        ${QueryFeild}
		    </if>
		</where>
		limit 1
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    BUSI_DATE = #{item.BUSI_DATE__} 
		    and COMPANY_CODE = #{item.COMPANY_CODE__} 
		</foreach>
	</delete>
	
	<update id="batchDelAndIns" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    delete from
		    <include refid="tableName"></include>
		    where BUSI_DATE = #{item.BUSI_DATE__} 
		    and COMPANY_CODE = #{item.COMPANY_CODE__};
	        
		    insert into
		    <include refid="tableName"></include>
		    (${item.InsertField}) values (${item.InsertVale});
		</foreach>
	</update>
	
	<update id="batchCoverAdd" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    delete from
		    <include refid="tableName"></include>
		    where BUSI_DATE = #{item.BUSI_DATE} 
		    and COMPANY_CODE = #{item.COMPANY_CODE};
	        
		    insert into
		    <include refid="tableName"></include>
		    (${item.InsertField}) values (${item.InsertVale});
		</foreach>
	</update>
</mapper>