<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrainPlanMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_TRAIN_PLAN
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TRAIN_PLAN_ID,	
		TRAIN_PLAN_NAME,	
		START_DATE,	
		END_DATE,	
		COURSE_TYPE_ID,	
		COURSE_ID,	
		TRAIN_PLAN_MEMO,	
		TRAIN_PLAN_PERSONS,	
		STATE,	
		CREATE_USER,	
		CREATE_DATE,	
		CUST1,	
		CUST2,	
		CUST3,	
		CUST4,	
		CUST5
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TRAIN_PLAN_ID},	
		#{TRAIN_PLAN_NAME},	
		#{START_DATE},	
		#{END_DATE},	
		#{COURSE_TYPE_ID},	
		#{COURSE_ID},	
		#{TRAIN_PLAN_MEMO},	
		#{TRAIN_PLAN_PERSONS},	
		#{STATE},	
		#{CREATE_USER},	
		#{CREATE_DATE},	
		#{CUST1},	
		#{CUST2},	
		#{CUST3},	
		#{CUST4},	
		#{CUST5}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		);
		<foreach item="item" index="index" collection="varList" open=" " separator="; " close=" ">		
			<if test="item!=null">
				insert into tb_gl_plan_user
				(
					PLAN_ID,	
					STUDENT_ID,
					PLAN_TYPE
				) values (#{item.TRAIN_PLAN_ID},
					#{item.STUDENT_ID},
					#{item.PLAN_TYPE})
					</if>
		</foreach>
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TRAIN_PLAN_ID = #{TRAIN_PLAN_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TRAIN_PLAN_NAME = #{TRAIN_PLAN_NAME},
			START_DATE = #{START_DATE},
			END_DATE = #{END_DATE},
			COURSE_TYPE_ID = #{COURSE_TYPE_ID},
			COURSE_ID = #{COURSE_ID},
			TRAIN_PLAN_MEMO = #{TRAIN_PLAN_MEMO},
			TRAIN_PLAN_PERSONS = #{TRAIN_PLAN_PERSONS},
			STATE = #{STATE}
		where 
		TRAIN_PLAN_ID = #{TRAIN_PLAN_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TRAIN_PLAN_ID = #{TRAIN_PLAN_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				TRAIN_PLAN_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	 	<if test="pd.START_DATE!=null and pd.START_DATE!='' and pd.END_DATE!=null and pd.END_DATE!=''"> 
			  and (SUBSTRING(CREATE_DATE,1,8) between #{pd.START_DATE} and  #{pd.END_DATE} )
			 </if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TRAIN_PLAN_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 列表 -->
	<select id="courseList" parameterType="page" resultType="pd">
		SELECT
			a.TRAIN_PLAN_ID,	
			a.TRAIN_PLAN_NAME,	
			a.START_DATE,	
			a.END_DATE,	
			a.TRAIN_PLAN_MEMO,	
			b.COURSE_NAME,
			b.COURSE_COVER,
			b.COURSE_ID
		FROM 
			tb_gl_plan_user AS d
		LEFT JOIN tb_train_plan AS  a ON d.PLAN_ID = a.TRAIN_PLAN_ID
		LEFT JOIN tb_course_base AS b ON a.COURSE_ID = b.COURSE_ID
		LEFT JOIN tb_course_type AS c ON b.COURSE_TYPE = c.COURSE_TYPE_ID
		WHERE
			a.STATE = 1
		AND 
			d.STUDENT_ID = #{pd.STUDENT_ID}
		AND 
			d.PLAN_TYPE = #{pd.PLAN_TYPE}
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				a.TRAIN_PLAN_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	</select>
</mapper>