<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BankcardInfoMapper">
	
<!-- 
银行卡信息维护
 -->
	<!--表名 -->
	<sql id="tableNameDetail">
		TB_BANKCARD_INFO
	</sql>

	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select * 
		<if test="pd.FieldSelectKey!= null and pd.FieldSelectKey != ''">
		        ${pd.FieldSelectKey}
	    </if>
		from <include refid="tableNameDetail"></include>
		<where>
			<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
				${pd.filterWhereResult}
			</if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
    	<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) 
		from <include refid="tableNameDetail"></include> 
		<!-- where BUSI_DATE = '${pd.SystemDateTime}' -->
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
	</select>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select * 
		from <include refid="tableNameDetail"></include>
		<!-- where BUSI_DATE = '${pd.SystemDateTime}' -->
		order by USER_NAME, STAFF_IDENT
	</select>

	<!-- 导出模板 -->
	<select id="exportModel" parameterType="pd" resultType="pd">
		select * 
		from <include refid="tableNameDetail"></include>
		limit 1
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableNameDetail"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    STAFF_IDENT = #{item.STAFF_IDENT__}
		</foreach>
	</delete>
	
	<update id="batchDelAndIns" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    delete from <include refid="tableNameDetail"></include>
		    where STAFF_IDENT = #{item.STAFF_IDENT__};
	        
	        insert into 
	        <include refid="tableNameDetail"></include>
		        (
	    	    USER_NAME,
		        STAFF_IDENT,
		        BANK_NAME,
		        BANK_CARD
		        ) 
		    values (
	    	    #{item.USER_NAME},
		        #{item.STAFF_IDENT},
		        #{item.BANK_NAME},
		        #{item.BANK_CARD}
		        );

		</foreach>
	</update>
</mapper>