<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChangeErpZhzxMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_CHANGE_ERP_ZHZX
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		BILL_CODE,	
		UNIT_CODE,	
		DEPT_CODE,	
		ENTRY_DATE,	
		SERIAL_NUM,	
		USER_CODE,	
		USER_DEPT,	
		USER_JOB,	
		USER_CONTACT,	
		EFFECTIVE_DATE,	
		SYSTEM,	
		ACCOUNT_REMOVE,	
		ACCOUNT_REASON,	
		BILL_STATE,	
		BILL_USER,	
		BILL_DATE,	
		CUS_COLUMN1,	
		CUS_COLUMN2,	
		CUS_COLUMN3,	
		CUS_COLUMN4,	
		CUS_COLUMN5
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BILL_CODE},	
		#{UNIT_CODE},	
		#{DEPT_CODE},	
		#{ENTRY_DATE},	
		#{SERIAL_NUM},	
		#{USER_CODE},	
		#{USER_DEPT},	
		#{USER_JOB},	
		#{USER_CONTACT},	
		#{EFFECTIVE_DATE},	
		#{SYSTEM},	
		#{ACCOUNT_REMOVE},	
		#{ACCOUNT_REASON},	
		#{BILL_STATE},	
		#{BILL_USER},	
		#{BILL_DATE},	
		#{CUS_COLUMN1},	
		#{CUS_COLUMN2},	
		#{CUS_COLUMN3},	
		#{CUS_COLUMN4},	
		#{CUS_COLUMN5}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			BILL_CODE = #{BILL_CODE}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE},
			UNIT_CODE = #{UNIT_CODE},
			DEPT_CODE = #{DEPT_CODE},
			ENTRY_DATE = #{ENTRY_DATE},
			SERIAL_NUM = #{SERIAL_NUM},
			USER_CODE = #{USER_CODE},
			USER_DEPT = #{USER_DEPT},
			USER_JOB = #{USER_JOB},
			USER_CONTACT = #{USER_CONTACT},
			EFFECTIVE_DATE = #{EFFECTIVE_DATE},
			SYSTEM = #{SYSTEM},
			ACCOUNT_REMOVE = #{ACCOUNT_REMOVE},
			ACCOUNT_REASON = #{ACCOUNT_REASON},
			BILL_STATE = #{BILL_STATE},
			BILL_USER = #{BILL_USER},
			BILL_DATE = #{BILL_DATE},
			CUS_COLUMN1 = #{CUS_COLUMN1},
			CUS_COLUMN2 = #{CUS_COLUMN2},
			CUS_COLUMN3 = #{CUS_COLUMN3},
			CUS_COLUMN4 = #{CUS_COLUMN4},
			CUS_COLUMN5 = #{CUS_COLUMN5}
		where 
		BILL_CODE = #{BILL_CODE}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BILL_CODE = #{BILL_CODE}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			BILL_CODE in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>