<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestPaperMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_test_paper
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TEST_PAPER_ID,	
		TEST_PAPER_TITLE,	
		COURSE_TYPE_ID,	
		TEST_PAPER_TYPE,	
		TEST_PAPER_DIFFICULTY,	
		TEST_QUESTION_SOURCE,	
		TEST_QUESTION_NUM,	
		TEST_PAPER_SCORE,	
		ANSWER_TIME,	
		TEST_CHANCE,	
		QUALIFIED_SCORE,	
		STATE,	
		CREATE_USER,	
		CREATE_DATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TEST_PAPER_ID},	
		#{TEST_PAPER_TITLE},	
		#{COURSE_TYPE_ID},	
		#{TEST_PAPER_TYPE},	
		#{TEST_PAPER_DIFFICULTY},	
		#{TEST_QUESTION_SOURCE},	
		#{TEST_QUESTION_NUM},	
		#{TEST_PAPER_SCORE},	
		#{ANSWER_TIME},	
		#{TEST_CHANCE},	
		#{QUALIFIED_SCORE},	
		#{STATE},	
		#{CREATE_USER},	
		#{CREATE_DATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TEST_PAPER_ID = #{TEST_PAPER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TEST_PAPER_ID = #{TEST_PAPER_ID},
			TEST_PAPER_TITLE = #{TEST_PAPER_TITLE},
			COURSE_TYPE_ID = #{COURSE_TYPE_ID},
			TEST_PAPER_TYPE = #{TEST_PAPER_TYPE},
			TEST_PAPER_DIFFICULTY = #{TEST_PAPER_DIFFICULTY},
			TEST_QUESTION_SOURCE = #{TEST_QUESTION_SOURCE},
			TEST_QUESTION_NUM = #{TEST_QUESTION_NUM},
			TEST_PAPER_SCORE = #{TEST_PAPER_SCORE},
			ANSWER_TIME = #{ANSWER_TIME},
			TEST_CHANCE = #{TEST_CHANCE},
			QUALIFIED_SCORE = #{QUALIFIED_SCORE},
			STATE = #{STATE},
			CREATE_USER = #{CREATE_USER},
			CREATE_DATE = #{CREATE_DATE}
		where 
		TEST_PAPER_ID = #{TEST_PAPER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TEST_PAPER_ID = #{TEST_PAPER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TEST_PAPER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
<!-- 	獲取在線考試試題信息 -->
	<select id="datalistExam" parameterType="page" resultType="pd">
		SELECT 		   
			t.TEST_PAPER_ID,	
			t.TEST_PAPER_TITLE,	
			t.COURSE_TYPE_ID,	
			t.TEST_PAPER_TYPE,	
			t.TEST_PAPER_DIFFICULTY,	
			t.TEST_QUESTION_SOURCE,	
			t.TEST_QUESTION_NUM,	
			t.TEST_PAPER_SCORE,	
			t.ANSWER_TIME,	
			t.TEST_CHANCE,	
			t.QUALIFIED_SCORE,	
			t.STATE,	
			t.CREATE_USER,	
			t.CREATE_DATE,
			t.TEST_QUESTION_ID,			
			d.TEST_QUESTION_TITLE,
			d.COURSE_TYPE_ID,
			d.TEST_QUESTION_TYPE,
			d.TEST_QUESTION_DIFFICULTY,
			d.TEST_QUESTION_SCORE,
			d.TEST_QUESTION_ANSWER,
			d.TEST_ANSWER_NOTE			
			FROM
			  (SELECT 
			    a.*,b.TEST_QUESTION_ID
			  FROM
			    tb_test_paper a,
			    tb_test_paper_detail b 
			  WHERE a.TEST_PAPER_ID = b.TEST_PAPER_ID) AS t 
			    LEFT JOIN 
			  tb_test_question d
			  ON
			 t.TEST_QUESTION_ID = d.TEST_QUESTION_ID 
			  AND T.TEST_PAPER_ID=#{pd.TEST_PAPER_ID}
			  	 ORDER BY  d.TEST_QUESTION_TYPE,
			  	 T.TEST_QUESTION_ID			  		  		 
	</select>
	<!-- 	获取试题答案信息 -->
	<select id="listAnswer" parameterType="page" resultType="pd">
			SELECT 
		   t.TEST_PAPER_ID,   
		   t.TEST_QUESTION_ID,
		   f.TEST_QUESTION_ITEM_TITLE,
		   f.TEST_QUESTION_ITEM_CONTENT,
		   f.IS_RIGHT,
		   f.ITEM_EXPLAIN,
		   f.STATE,
		   f.CREATE_USER,
		   f.CREATE_DATE,
		   f.TEST_QUESTION_TYPE
		   FROM
		     (SELECT 
		       a.TEST_PAPER_ID,b.TEST_QUESTION_ID
		     FROM
		       tb_test_paper a,
		       tb_test_paper_detail b 
		     WHERE a.TEST_PAPER_ID = b.TEST_PAPER_ID) AS t 
		     LEFT JOIN 
		     (SELECT  c.*,  d.TEST_QUESTION_TYPE 
		     FROM 
		     tb_test_question_item c LEFT JOIN tb_test_question d  
		     ON  c.TEST_QUESTION_ID=d.TEST_QUESTION_ID) as f
		 ON t.TEST_QUESTION_ID = f.TEST_QUESTION_ID 
		 WHERE TEST_PAPER_ID=#{pd.TEST_PAPER_ID}
		 <if test="pd.IS_RIGHT!= null and pd.IS_RIGHT != ''">
			and IS_RIGHT=#{pd.IS_RIGHT}				
		</if>
		  		  		 
	</select>
</mapper>