<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysConfigMapper">

	<!--表名 -->
	<sql id="tableName">
		tb_sys_config
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		KEY_CODE,
		KEY_VALUE,
		REMARK
	</sql>
	<!-- 字段 -->
	<sql id="FieldSelectKey"> KEY_CODE KEY_CODE__,</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{KEY_CODE},
		#{KEY_VALUE},
		#{REMARK}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		KEY_CODE = #{id}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		KEY_CODE = #{KEY_CODE},
		KEY_VALUE = #{KEY_VALUE},
		REMARK = #{REMARK}
		where
		KEY_CODE = #{KEY_CODE__}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="FieldSelectKey"></include>
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		KEY_CODE = #{KEY_CODE}
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="FieldSelectKey"></include>
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where KEY_CODE!='SystemDataTime'
		<if test="sidx != null">
			order by ${sidx} ${sord}
		</if>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		KEY_CODE in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>


	<!-- 获取系统期间 -->
	<!-- 张晓柳 -->
	<select id="currentSection" parameterType="pd" resultType="String">
		select KEY_VALUE
		from
		<include refid="tableName"></include>
		where KEY_CODE = 'SystemDataTime'
	</select>

	<!-- 获取系统配置信息 -->
	<select id="getSysConfigByKey" parameterType="pd" resultType="String">
		select KEY_VALUE
		from
		<include refid="tableName"></include>
		where KEY_CODE = #{KEY_CODE}
	</select>
</mapper>