<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AttachmentMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_ATTACHMENT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ATTACHMENT_ID,	
		BUSINESS_TYPE,	
		BILL_CODE,	
		ATTACHMENT_NAME,
		ATTACHMENT_MEMO,	
		ATTACHMENT_TYPE,	
		ATTACHMENT_SIZE,	
		ATTACHMENT_PATH,	
		CREATE_USER,	
		CREATE_DATE,	
		STATE,	
		CUST1,	
		CUST2,	
		CUST3
	</sql>
	
	<!-- 字段 -->
	<sql id="insertField">	
		BUSINESS_TYPE,	
		BILL_CODE,	
		ATTACHMENT_NAME,
		ATTACHMENT_MEMO,	
		ATTACHMENT_TYPE,	
		ATTACHMENT_SIZE,	
		ATTACHMENT_PATH,	
		CREATE_USER,	
		CREATE_DATE,	
		STATE,	
		CUST1,	
		CUST2,	
		CUST3
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">	
		#{BUSINESS_TYPE},	
		#{BILL_CODE},	
		#{ATTACHMENT_NAME},
		#{ATTACHMENT_MEMO},	
		#{ATTACHMENT_TYPE},	
		#{ATTACHMENT_SIZE},	
		#{ATTACHMENT_PATH},	
		#{CREATE_USER},	
		#{CREATE_DATE},	
		#{STATE},	
		#{CUST1},	
		#{CUST2},	
		#{CUST3}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="insertField"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ATTACHMENT_ID = #{ATTACHMENT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BUSINESS_TYPE = #{BUSINESS_TYPE},
			BILL_CODE = #{BILL_CODE},
			ATTACHMENT_NAME = #{ATTACHMENT_NAME},
			ATTACHMENT_MEMO = #{ATTACHMENT_MEMO},
			ATTACHMENT_TYPE = #{ATTACHMENT_TYPE},
			ATTACHMENT_SIZE = #{ATTACHMENT_SIZE},
			ATTACHMENT_PATH = #{ATTACHMENT_PATH},
			STATE = #{STATE},
			CUST1 = #{CUST1},
			CUST2 = #{CUST2},
			CUST3 = #{CUST3}
		where 
		ATTACHMENT_ID = #{ATTACHMENT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ATTACHMENT_ID = #{ATTACHMENT_ID}
	</select>
	
	<!-- 根据附件类型获取附件列表 -->
	<select id="getAttachmentByType" parameterType="pd" resultType="pd">
		select A.ATTACHMENT_ID,
		A.BUSINESS_TYPE,
		A.BILL_CODE,
		A.ATTACHMENT_NAME,
		A.ATTACHMENT_MEMO,
		A.ATTACHMENT_TYPE,
		A.ATTACHMENT_SIZE,
		A.ATTACHMENT_PATH,
		A.CREATE_DATE,
		B.NAME as CREATE_USER 
		from 
		<include refid="tableName"></include> A
		left join sys_user B 
		on A.CREATE_USER=B.USER_ID 
		where 
			BUSINESS_TYPE = #{BUSINESS_TYPE}
			AND BILL_CODE=#{BILL_CODE}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select A.*,B.NAME CREATE_USER_NAME from 
		<include refid="tableName"></include> A
		left join sys_user B
		on A.CREATE_USER=B.USER_ID
		<where>
			<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
				and
					(
					
						ATTACHMENT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
						<!--	根据需求自己加检索条件
						 or 
						字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					-->
					)
			</if>
		</where>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ATTACHMENT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>